{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-less"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "plugins": [
    "import-graphql",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "cwd": "babelrc",
          "components": "./src/components",
          "config": "./src/config",
          "containers": "./src/containers",
          "graphql": "./src/graphql",
          "locales": "./src/locales",
          "helpers": "./src/helpers",
          "screens": "./src/screens",
          "constants": "./src/constants",
          "styles": "./styles",
          "assets": "./public/static/assets",
          "i18next": "./i18n"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
